.title {
    font-family: roboto;
    text-align: center;
    padding-top: 10px;
    color: rgb(120, 120, 120);
    font-size: 200%
}

.info {
    font-family: roboto;
    text-align: center;
    color: rgb(130, 130, 130);
    font-size: 100%
}

.info-item {
    font-family: roboto;
    font-size: 100%;
}

.info-value {
    font-family: roboto;
    font-size: 130%;
    color: var(--vscode-focusBorder);
}

.vizzu-div {
    display: grid;
    grid-template-columns: 45.0000% 55.0000%;
    grid-template-rows: auto;
    width: 100%;
}

.control-div {
    display: flex;
    justify-content: center;
    width: 100%;
    grid-template-rows: auto auto;
}

.click-label {
    border: none;
    background-color: transparent;
    color: inherit;
}

.click-label:disabled {
    border: none;
    background-color: transparent;
    color: rgb(97, 97, 97);
}

.link-button {
    background: none!important;
    border: none;
    padding: 0!important;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }